body {
  margin: 10px 20px 10px 20px;
  font-size: 16pt;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji
}

.container > header {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

h2 {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

table { 
  width: 100%;
}

thead {
  font-weight: bold;
}

table td {
  border-bottom: thin solid gray;
}

table td.right {
  text-align: right;
}

em {
  font-weight: bold;
}

@media(prefers-color-scheme: dark) {

  body {
    background-color: black;
    color: white;
  }

  a {
    color: #33ff00;
  }

}
